.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 2rem;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-nav a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 2rem;
    transition: .2s;
}

.header-nav a:hover {
    color: var(--input-bg);
    transition: .2s;
}