.bestiary-btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.monsters {
    margin: 2rem;

    display: grid;
    grid-template-columns: auto auto auto auto;
}

.monster {
    background-color: var(--input-bg);
    border-radius: 10px;
    width: 350px;
    padding: 1rem;
}

.monster-name {
    font-weight: 700;
    text-transform: uppercase;
}

.monster-row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.monster-row div span {
    color: var(--font-alt-color);
}
